@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* FONTES EXTERNAS NETFLIX */

@font-face {
    font-family: 'Netflix Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Netflix Sans Regular'), url('NetflixSansRegular.woff') format('woff');
    }
    
    @font-face {
    font-family: 'Netflix Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Netflix Sans Bold'), url('NetflixSansBold.woff') format('woff');
    }
    
/* VARIÁVEIS DE CORES */

:root{
    --vermelho: #e50914;
    --preta: #141414;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ELEMENTOS BASE*/

body{
    background: var(--preta);
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}

header{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 68px;
    background:#030507;
}

header .logo{
    margin-left:45px;
    margin-top: 4px;
    height: 34px
}

nav{
    margin-left: 52px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold ;
} 
header nav a{
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

header nav a:hover{
    color:#AAA; ;
}

/* SÉRIE PRINCIPAL */
.n-series{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.n-series .n-flix{
    height:30px;
    margin-left: 45px;
}

.n-series p{
    font-family: 'Bebas Neue';
    font-size: 17px;
    letter-spacing: 5px;
    color: #AAA;
}

.serie-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/capa-greys-anatomy.jpg');

    height: 650px;
    background-size: cover;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.serie-principal .descricao{
    margin-top: 15px;
    margin-left: 34px;
    margin-bottom: 40px;
    font-family: 'Netflix Sans Regular';
    font-size: 17px;
    text-align: justify;
}

.serie-principal .titulo{
    margin-top: 2%;
    margin-left:30px;
    font-size: 55px;
    font-family: 'Netflix Sans Bold';
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: rgb(255, 255, 255);
    margin-left:30px;

    padding: 15px 30px;
    font-size: 16px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0,0,0);
}

.botao i{
    margin-right: 8px;
    
}

.container{
    margin-left: 20px;
}

.serie-principal .container{
    width: 60%;
}

.box-series{
    height: 100%;
    width: 100%;
    display: block;
}

